.footer {
    margin-top: 4rem;
}

.footer-upper {
    background: #000;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
}

.footer-lower {
    background: #181D28;
    color: #fff;
    padding: 2rem 0;
}